@keyframes fillcircle {
  0% {
    background: conic-gradient(black 1%, white 5%);
  }
  20% {
    background: conic-gradient(black 5%, white 12%);
  }
  23% {
    background: conic-gradient(black 10%, white 20%);
  }
  28% {
    background: conic-gradient(black 15%, white 25%);
  }
  30% {
    background: conic-gradient(black 20%, white 30%);
  }
  33% {
    background: conic-gradient(black 25%, white 35%);
  }
  35% {
    background: conic-gradient(black 30%, white 40%);
  }
  37% {
    background: conic-gradient(black 35%, white 45%);
  }
  39% {
    background: conic-gradient(black 40%, white 50%);
  }
  42% {
    background: conic-gradient(black 45%, white 55%);
  }
  45% {
    background: conic-gradient(black 50%, white 60%);
  }
  48% {
    background: conic-gradient(black 55%, white 65%);
  }
  55% {
    background: conic-gradient(black 60%, white 70%);
  }
  62% {
    background: conic-gradient(black 65%, white 75%);
  }
  72% {
    background: conic-gradient(black 70%, white 80%);
  }
  78% {
    background: conic-gradient(black 75%, white 85%);
  }
  80% {
    background: conic-gradient(black 80%, white 90%);
  }
  82% {
    background: conic-gradient(black 85%, white 95%);
  }
  88% {
    background: conic-gradient(black 90%, white 99%);
  }
  92% {
    background: conic-gradient(black 95%, white 100%);
  }
  100% {
    background: conic-gradient(black 100%, black 100%);
  }
}
@keyframes shake {
  0% {
    transform: scaleX(1);
    opacity: 1;
  }
  10%, 30%, 50%, 70%, 90% {
    transform: rotate(-2deg);
  }
  20%, 40%, 60% {
    transform: rotate(2deg);
  }
  80% {
    transform: rotate(2deg);
    opacity: 1;
  }
  100% {
    transform: scaleX(1);
    opacity: 0;
  }
}
@keyframes fork {
  0% {
    transform: scaleX(1);
  }
  10%, 30%, 50%, 70%, 90% {
    transform: rotate(-3deg);
  }
  20%, 40%, 60% {
    transform: rotate(3deg);
  }
  80% {
    transform: rotate(3deg);
  }
  100% {
    transform: scaleX(1);
  }
}
@keyframes knife {
  0% {
    transform: translateX(520px);
  }
  20%, 40%, 60% {
    transform: rotate(-3deg);
  }
  10%, 30%, 50%, 70%, 90% {
    transform: rotate(3deg);
  }
  80% {
    transform: rotate(-3deg);
  }
  100% {
    transform: translateX(0);
  }
}
/*@keyframes fillplate {
    0%   {
        clip-path:polygon(50% 50%,0 0,0 0,0 0,0 0,0 0);
 //       opacity: 1;
    }
    25%  {
        clip-path:polygon(50% 50%,0 0,100% 0,100% 0,100% 0,100% 0);
    }
    50%  {
        clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,100% 100%,100% 100%);
    }
    75%  {
        clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0 100%,0 100%);
//        opacity: 1;
    }
    90% {
        clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0 100%,0 0);
    }
    100%{
//        opacity: 0;
    }    
}*/
@keyframes fillplate {
  0% {
    -webkit-clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0);
            clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0);
  }
  25% {
    -webkit-clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0);
            clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0);
  }
  50% {
    -webkit-clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%);
            clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%);
  }
  75% {
    -webkit-clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 100%);
            clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 100%);
  }
  90% {
    -webkit-clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 0);
            clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 0);
  }
}
@keyframes fader-background {
  0% {
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
@keyframes bigger {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  20% {
    transform: scale(2);
  }
  40% {
    transform: scale(1.5);
  }
  60% {
    transform: scale(2);
  }
  80% {
    transform: scale(1.5);
    opacity: 1;
  }
  98% {
    transform: scale3d(2);
  }
  100% {
    opacity: 0;
  }
}
.loader {
  width: 100vw;
  height: 100vh;
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  gap: 40px;
  margin: auto;
  z-index: 9999;
  animation: fader-background 4s forwards;
}
.loader .logo {
  animation: bigger 1.5s 1.5s forwards;
}

.table2 {
  display: flex;
  justify-content: space-evenly;
}
.table2 .fork {
  height: 120px;
  position: relative;
  right: 15px;
  animation: fork 3s forwards;
}
.table2 .knife {
  height: 120px;
  position: relative;
  left: 15px;
  animation: knife 3s forwards;
}

/*.plate {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 10px $white solid;
  position: absolute;
  transform: rotate(45deg);
  box-sizing: border-box;
}

.plate::before {
  content: "";
  position: absolute;
  box-sizing: border-box;
  inset: -10px;
  border-radius: 50%;
  border: 25px solid $black;
  animation: fillplate 1.5s forwards;
}*/
.plate {
  width: 120px;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.plate .circle {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  position: relative;
  background: white;
  animation: fillcircle 3s forwards;
}
.plate .round {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  background-color: white;
  position: absolute;
  z-index: 1;
}

body {
  font-family: Roboto;
  font-weight: 500;
  margin: 0;
}

.fa-solid {
  font-size: 1.4em;
  padding: 0 10px 0 0;
  color: #353535;
}

.main__container {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  margin: 0;
  text-align: center;
}

.section__bgd {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  background-color: #f6f6f6;
  margin: 0;
  height: auto;
}

section {
  width: 100%;
  box-sizing: border-box;
  padding: 15px;
}

.restaurant__list {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 18px;
}

h1 {
  font-size: 1.4em;
  font-weight: 700;
  margin: 0;
  margin-bottom: 40px;
}

p {
  font-size: 1.2em;
  font-weight: 300;
}

a {
  text-decoration: none;
}

@media (min-width: 1024px) {
  section {
    padding: 50px 80px;
  }
  .howto {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .restaurant__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
  }
  .restaurant__list a {
    width: 45%;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  section {
    padding: 30px 30px;
  }
  .howto {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .restaurant__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
  }
  .restaurant__list a {
    width: 45%;
  }
}
header {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}
header .header__logo {
  width: 200px;
  padding: 20px;
}
header .header__location {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: #353535;
  padding: 20px;
  gap: 20px;
  background-color: #eaeaea;
  align-items: baseline;
}
header .header__location input {
  width: 120px;
  height: 25px;
  border: none;
  background-color: transparent;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.header .fa-solid {
  display: inline-block;
  position: absolute;
  left: 30px;
  top: 30px;
}

.button__gradient {
  background: linear-gradient(#9256dc, #ff79da);
  color: #ffffff;
  height: 50px;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 16px;
  padding: 0 25px;
  border: none;
  border-radius: 25px;
  display: flex;
  margin: 25px auto;
  justify-self: center;
  line-height: 50px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1019607843);
  transition: all ease-in-out 0.3s;
}

.button__gradient:hover {
  box-shadow: 0px 8px 15px 0px rgba(0, 0, 0, 0.2549019608);
  background: linear-gradient(#a06be0, #ff93e1);
  transition: all ease-in-out 0.3s;
}

.button__new {
  display: flex;
  position: relative;
  top: 10px;
  right: 80px;
  z-index: 1;
  width: 80px;
  height: 15px;
  padding: 5px;
  font-size: 0.8em;
  background-color: #99e2d0;
  color: #008766;
  border: none;
  border-radius: 3px;
  line-height: 15px;
  justify-content: center;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1019607843);
}

.restaurant__rate {
  display: flex;
  position: relative;
  right: 2em;
  align-self: center;
  width: 30px;
  height: 30px;
}
.restaurant__rate span {
  border: none;
  position: relative;
  align-self: center;
  background-color: #ffffff;
  padding: 0;
}
.restaurant__rate span .fa-heart {
  font-size: 2em;
}
.restaurant__rate span .fa-regular {
  display: flex;
  position: absolute;
  background-color: #ffffff;
  color: #000000;
  z-index: 1;
  opacity: 1;
  transition: opacity 0.4s;
}
.restaurant__rate span .fa-regular:hover {
  opacity: 0;
}
.restaurant__rate span .fa-solid {
  display: flex;
  color: transparent;
  background-image: linear-gradient(#ff79da, #9256dc);
  -webkit-background-clip: text;
          background-clip: text;
}

.chevron {
  display: none;
  width: 70px;
  height: 70px;
  margin: 120px 0;
  font-size: 25px;
  background-color: #ffffff;
  border-radius: 35px;
  border: none;
  justify-items: center;
  color: #353535;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1019607843);
}
.chevron :hover {
  color: #9256dc;
}
.chevron i {
  padding: 0;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .chevron {
    display: block;
  }
}

.right {
  cursor: pointer;
}

.right + .menu__container .menu__container--extend {
  transition: transform 0.7s ease-in-out;
}

.right:focus + .menu__container .menu__container--extend {
  transform: translateX(-520px);
}

.left {
  cursor: pointer;
}

.left + .menu__container .menu__container--extend {
  transition: transform 0.7s ease-in-out;
}

.left:focus + .menu__container .menu__container--extend {
  transform: translateX(510px);
}

.entries + .nav--tab .menu__container .menu__container--extend {
  transition: transform 0.7s ease-in-out;
}

.entries:focus + .nav--tab .navigation .menu__container .menu__container--extend {
  transform: translateX(510px);
}

.desserts + .navigation .nav--tab .menu__container .menu__container--extend {
  transition: transform 0.7s ease-in-out;
}

.desserts:focus + .navigation .nav--tab .menu__container .menu__container--extend {
  transform: translateX(-510px);
}

.howto__card {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.howto__card .howto__card-number {
  width: 24px;
  height: 24px;
  line-height: 24px;
  margin: 0 0 0 20px;
  position: absolute;
  background-color: #9256dc;
  border-radius: 12px;
  z-index: 2;
  color: #ffffff;
  font-weight: 700;
}
.howto__card div {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1019607843);
  background-color: #ffffff;
  border-radius: 15px;
  background-color: #f6f6f6;
  margin: 15px 10px 15px 20px;
  padding-left: 40px;
  gap: 10px;
  position: relative;
  z-index: 1;
  transition: all ease-in-out 0.4s;
}
.howto__card div h4 {
  line-height: 30px;
}
.howto__card div .fa-solid {
  color: #353535;
  padding: 0;
  line-height: 30px;
  transition: color 0.4s;
}
.howto__card div:hover .fa-solid {
  color: #9256dc;
}
.howto__card div:hover {
  box-shadow: 0px 8px 15px 0px rgba(0, 0, 0, 0.2549019608);
}
@media (min-width: 1024px) {
  .howto__card {
    width: 33%;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .howto__card {
    width: 60%;
    align-self: center;
  }
}

.restaurant__card {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border-radius: 15px;
  height: 250px;
  overflow: hidden;
  justify-content: space-between;
  transition: all ease-in-out 0.4s;
}
.restaurant__card .restaurant__photo {
  width: 100%;
  max-height: 275px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
}
.restaurant__card .restaurant__photo img {
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  align-self: center;
}
.restaurant__card .restaurant__card-content {
  display: flex;
  flex-direction: row;
  height: 70px;
  justify-content: space-between;
  padding: 10px;
  gap: 10px;
}
.restaurant__card .restaurant__card-content h3 {
  font-size: 1.2em;
  font-weight: 700;
  color: #000000;
  margin: 0;
}
.restaurant__card .restaurant__card-content p {
  font-family: Roboto;
  font-weight: 500;
  font-weight: 300;
  color: #000000;
  text-align: start;
}
.restaurant__card:hover {
  box-shadow: 0px 8px 15px 0px rgba(0, 0, 0, 0.2549019608);
}

footer {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  background-color: #353535;
  padding: 25px;
}
footer .info {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}
footer .info h1 {
  font-family: Shrikhand;
  font-weight: 500;
  font-size: 1.4em;
  color: #ffffff;
  margin: 0;
}
@media (min-width: 1024px) {
  footer .info h1 {
    text-align: end;
  }
}
footer .info a {
  text-decoration: none;
  color: #ffffff;
}
footer .info .fa-solid {
  font-size: 1.2em;
  color: #ffffff;
}
footer .info .info__contact {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  footer {
    justify-content: end;
  }
  footer .info {
    width: 100%;
    justify-content: right;
    gap: 2%;
    flex-direction: row-reverse;
  }
  footer .info .info__contact {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 15px;
  }
}

.restaurant {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}
.restaurant .restaurant__photo {
  width: 100%;
  max-height: 275px;
  overflow: hidden;
  margin-bottom: -40px;
}
.restaurant .restaurant__photo img {
  width: 100%;
  height: auto;
}

.restaurant__menu {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  z-index: 1;
  background-color: #f6f6f6;
  border-radius: 40px 40px 0 0;
  padding: 20px 15px 20px 15px;
}
.restaurant__menu .restaurant__info {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px;
}
.restaurant__menu .restaurant__info h1 {
  display: block;
  font-family: Shrikhand;
  font-size: 1.4em;
  font-weight: 500;
  margin: 0;
}
.restaurant__menu .restaurant__info .restaurant__rate span {
  background-color: #f6f6f6;
}
.restaurant__menu .restaurant__info .restaurant__rate span .fa-regular {
  background-color: #f6f6f6;
}
.restaurant__menu .navigation {
  display: none;
}
.restaurant__menu .menu__container {
  display: flex;
  flex-direction: column;
}
.restaurant__menu .recipes {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 30px 0;
}
.restaurant__menu h2 {
  font-family: Roboto;
  font-weight: 300;
  text-transform: uppercase;
  margin: 0;
  /*        @media (min-width: 768px) and (max-width: 1024px){
    display: none;
  }*/
}
.restaurant__menu .recipes__stylebar {
  width: 40px;
  height: 3px;
  background-color: #008766;
  /*    @media (min-width: 768px) and (max-width: 1024px){
    display: none;
  }*/
}
@media (min-width: 1025px) {
  .restaurant__menu {
    width: 80%;
    max-width: 1220px;
    align-self: center;
    padding-left: 15%;
    padding-right: 15%;
    margin: 0;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .restaurant__menu {
    width: 90%;
    align-self: center;
    padding-left: 5%;
    padding-right: 5%;
    margin: 0;
  }
  .restaurant__menu .nav--tab {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .restaurant__menu .nav--tab .menu__container {
    width: 510px;
    padding: 10px;
    display: flex;
    overflow: hidden;
  }
  .restaurant__menu .nav--tab .menu__container .menu__container--extend {
    width: 1600px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-self: center;
  }
  .restaurant__menu .nav--tab .menu__container .menu__container--extend .recipes {
    width: 500px;
    padding: 15px;
    margin: 0;
  }
  .restaurant__menu .nav--tab {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
  }
  .restaurant__menu .nav--tab .navigation {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 25%;
    padding: 25px 0;
    border-right: 4px #99e2d0 solid;
  }
  .restaurant__menu .nav--tab .navigation .recipes_button {
    padding: 10px;
    border: none;
    background-color: #f6f6f6;
    text-align: left;
    cursor: pointer;
  }
  .restaurant__menu .nav--tab .navigation .recipes_button:focus {
    border-bottom: 4px #99e2d0 solid;
    color: #353535;
  }
  .restaurant__menu .nav--tab .navigation .recipes_button:focus h2 {
    font-weight: 700;
  }
}

.recipes__choice {
  width: 100%;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 15px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1019607843);
  height: 70px;
  overflow: hidden;
}
.recipes__choice .recipes__choice--extend {
  background-color: #ffffff;
  border-radius: 15px;
  width: 120%;
  height: 70px;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 70% 15% 15%;
  align-items: center;
  transition: width 0.4s;
}
.recipes__choice .recipes__choice--extend .recipes__text {
  display: flex;
  flex-direction: column;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-left: 15px;
  gap: 5px;
}
.recipes__choice .recipes__choice--extend .recipes__text h3,
.recipes__choice .recipes__choice--extend .recipes__text p {
  margin: 0;
}
.recipes__choice .recipes__choice--extend .recipes__price {
  padding: 0 0px 15px 0;
  text-align: center;
  align-self: flex-end;
}
.recipes__choice .recipes__choice--extend .recipes__selected {
  height: 70px;
  background-color: #99e2d0;
  border-radius: 0 15px 15px 0;
  text-align: center;
}
.recipes__choice .recipes__choice--extend .recipes__selected .fa-solid {
  color: #008766;
  line-height: 70px;
}
.recipes__choice .recipes__choice--extend:hover {
  width: 100%;
}
.recipes__choice:hover {
  box-shadow: 0px 8px 15px 0px rgba(0, 0, 0, 0.2549019608);
}/*# sourceMappingURL=index.css.map */