
@keyframes shake {
    0% {
        transform: scaleX(1)
    }
    10%,30%,50%,70%,90%{
        transform: rotate(-2deg)
    }
    20%,40%,60%,80% {
        transform: rotate(2deg)
    }
    100% {
        transform: scaleX(1)
    }
}

@keyframes fillplate {
    0%   {
        clip-path:polygon(50% 50%,0 0,0 0,0 0,0 0,0 0)
    }
    15%  {
        clip-path:polygon(50% 50%,0 0,100% 0,100% 0,100% 0,100% 0)
    }
    45%  {
        clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,100% 100%,100% 100%)
    }
    80%  {
        clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0 100%,0 100%)
    }
    100% {
        clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0 100%,0 0)
    }
}  
 