
// bouton dégradé
.button-fantasy{
    @include button--fantasy;
    @include ombrage-soft;
}

//bouton "nouveau"
.button-new{
    display: flex;
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 1;
    width: 80px;
    height: 30px;
    background-color: $third-color;
    color: $nouveau;
    border: none;
    border-radius: 3px;
    line-height: 30px;
    justify-content: center;
    @include fat;
    @include ombrage-soft;
}



//bouton coeur
.card-rate{
    display: flex;
    flex-direction: column;
    position: relative;
    right: 20px;
    justify-content: center;

    .fa-heart{
        font-size: 2em;
        padding: 0;
    }

    .fa-solid{
        color: transparent;
        background-image: linear-gradient($second-color, $first-color);
        background-clip: text;
    }

    .fa-regular{
        background-color: $white;
    }

    input{
        display: none;
        position: absolute;
        animation: checked empty__heart 500ms forwards;
    }

    button{
        border: none;
        background-color: $white;
        position: absolute;
    }
}