// bouton dégradé
.button__gradient {
  @include button--fantasy;
  @include ombrage-medium;
  transition: all ease-in-out 0.3s;
}

.button__gradient:hover {
  @include ombrage-dark;
  background: $gradientlighten;
  transition: all ease-in-out 0.3s;
}

//bouton "nouveau"
.button__new {
  display: flex;
  position: relative;
  top: 10px;
  right: 80px;
  z-index: 1;
  width: 80px;
  height: 15px;
  padding: 5px;
  font-size: 0.8em;
  background-color: $third-color;
  color: $nouveau;
  border: none;
  border-radius: 3px;
  line-height: 15px;
  justify-content: center;
  @include ombrage-medium;
}

//bouton coeur
.restaurant__rate {
  display: flex;
  position: relative;
  right: 2em;
  align-self: center;
  width: 30px;
  height: 30px;

  span {
    border: none;
    position: relative;
    align-self: center;
    background-color: $white;
    padding: 0;

    .fa-heart {
      font-size: 2em;
    }

    .fa-regular {
      display: flex;
      position: absolute;
      background-color: $white;
      color: $black;
      z-index: 1;
      opacity: 1;
      transition: opacity 0.4s;
    }

    .fa-regular:hover {
      opacity: 0;
    }

    .fa-solid {
      display: flex;
      color: transparent;
      background-image: linear-gradient($second-color, $first-color);
      background-clip: text;
    }
  }
}

// flèches en mode tablette************************************************************
.chevron {
  display: none;
  width: 70px;
  height: 70px;
  margin: 120px 0;
  font-size: 25px;
  background-color: $white;
  border-radius: 35px;
  border: none;
  justify-items: center;
  color: $dark-grey;
  @include ombrage-medium;

  :hover {
    color: $first-color;
  }

  i {
    padding: 0;
  }

  //  ***   MEDIA QUERIES TABLETTE    ***   MEDIA QUERIES TABLETTE  ***
  @media (min-width: 768px) and (max-width: 1024px) {
    display: block;
  }
}


//PREMIERE VERSION AVEC LES FLECHES************************************************************************************************

.right {
  cursor: pointer;
}

.right + .menu__container .menu__container--extend {
  transition: transform 0.7s ease-in-out;
  //comment faire pour répéter l'action à chaque clic ?
}

.right:focus + .menu__container .menu__container--extend {
  transform: translateX(-520px);
}

.left {
  cursor: pointer;
}

.left + .menu__container .menu__container--extend {
  transition: transform 0.7s ease-in-out;
    //comment faire pour répéter l'action à chaque clic ?
}

.left:focus + .menu__container .menu__container--extend {
  transform: translateX(+510px);
}

//DEUXIEME VERSION AVEC LE MENU******************************************************************************************************
// VOIR AVEC CEDRIC CE QUE J'AI MANQUE POUR QUE CA NE MARCHE PAS

.entries + .nav--tab .menu__container .menu__container--extend {
  transition: transform 0.7s ease-in-out;
  //est-ce parce que ce n'est pas dans la meme div ? le chemin n'est pas bon ?
}

.entries:focus + .nav--tab .navigation .menu__container .menu__container--extend {
  transform: translateX(510px);
}

.desserts + .navigation .nav--tab .menu__container .menu__container--extend {
  transition: transform 0.7s ease-in-out;
}

.desserts:focus + .navigation .nav--tab .menu__container .menu__container--extend {
  transform: translateX(-510px);
}
