footer{
    @include boxbasic;
    display: flex;
    background-color: $dark-grey;
    padding: 25px;


    .info{
        @include boxbasic;
        @include column;

        h1{
            @include txt__fantasy;
            @include tall;
            color: $white;
            
            @media (min-width : 1024px) {
                text-align: end;
            }
        }
        
        a{
            text-decoration: none;
            color: $white;
        }
        
        .fa-solid{
            @include medium;
            color: $white;
        }

        .info__contact{
            @include boxbasic;
            @include column;
        }
    }
    
    //  ***   MEDIA QUERIES DESKTOP    ***   MEDIA QUERIES DESKTOP  ***
    @media (min-width : 1024px) {
        justify-content: end;
        .info{
            width: 75%;
            justify-content: right;
            gap: 5%;
            flex-direction: row-reverse;
            .info__contact{
                @include row;
                justify-content: flex-end;
                align-items: center;
                gap: 20px;
             }
        }           
    }

    //  ***   MEDIA QUERIES TABLETTE    ***   MEDIA QUERIES TABLETTE  ***
    @media (min-width : 768px) and (max-width: 1024px) {

    }
}