header{
    @include boxbasic;
    @include column;
    align-items: center;
    margin: auto;

    .header-logo{
        width: 200px;
        padding: 20px;
    }

    .header-location{
        @include boxbasic;
        @include row;
        justify-content: center;
        color: $dark-grey;
        padding: 20px;
        gap: 20px;
        background-color: $middle-grey;
        align-items: baseline;

        input{
            width: 120px;
            height: 25px;
            @include transparent;
        }        
    }
}