header{
    @include boxbasic;
    @include column;
    align-items: center;
    margin: auto;

    .header__logo{
        width: 200px;
        padding: 20px;
    }

    .header__location{
        @include boxbasic;
        @include row;
        justify-content: center;
        color: $dark-grey;
        padding: 20px;
        gap: 20px;
        background-color: $middle-grey;
        align-items: baseline;

        input{
            width: 120px;
            height: 25px;
            @include transparent;
        }        
    }
}

.header {
  @include row;
  justify-content: center;

  .fa-solid {
    display: inline-block;
    position: absolute;
    left: 30px;
    top: 30px;
  }
}