.loader {
  width: 100vw;
  height: 100vh;
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin: auto;
  z-index: 9999;
  // display: none; /*cache le loader*/

  .table {
    display: flex;
    align-items: center;
    justify-content: center;
    animation: shake 0.4s 4s;

    .plate {
      width: 120px;
      height: 120px;
      border-radius: 50%;
      border: 10px $white solid;
      position: absolute;
      transform: rotate(45deg);
      box-sizing: border-box;
    }
    .plate::before {
      content: "";
      position: absolute;
      box-sizing: border-box;
      inset: -10px;
      border-radius: 50%;
      border: 25px solid $black;
      animation: fillplate 4s linear;
    }
  }
}