.restaurant {
  @include boxbasic;
  @include column;

  .restaurant__photo {
    @include photo;
    margin-bottom: -40px;

    img {
      width: 100%;
      height: auto;
    }
  }
}

.restaurant__menu {
  @include boxbasic;
  @include column;
  justify-content: center;
  position: relative;
  z-index: 1;
  background-color: $light-grey;
  border-radius: 40px 40px 0 0;
  padding: 20px 15px 20px 15px;

  .restaurant__info {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;

    h1 {
      display: block;
      font-family: $txt-fantasy;
      @include tall;
      font-weight: 500;
      margin: 0;
    }

    .restaurant__rate2 {
      position: relative;
      right: 0;
      bottom: 0;
      }
    }
  

  .navigation {
    display: none;
  }

  .menu__container {
    @include boxbasic;
    @include column;

    .recipes:first-child {
      animation: slider_menu 0.5s forwards;
      /*       .recipes__choice:first-child {
        opacity: 0;
        animation: appear_elementsmenu 0.3s 0.3s forwards;
      }
      .recipes__choice:nth-child(1) {
        opacity: 0;
        animation: appear_elementsmenu 0.3s 0.6s forwards;
      }
      .recipes__choice:nth-child(2) {
        opacity: 0;
        animation: appear_elementsmenu 0.3s 0.9s forwards;
      }
      .recipes__choice:last-child {
        opacity: 0;
        animation: appear_elementsmenu 0.3s 1.2s forwards;
      } */
    }

    .recipes:nth-child(2) {
      opacity: 0;
      animation: slider_menu 0.5s 0.5s forwards;
      /*       .recipes__choice:first-child {
        opacity: 0;
        animation: appear_elementsmenu 0.3s 1.5s forwards;
      }
      .recipes__choice:nth-child(1) {
        opacity: 0;
        animation: appear_elementsmenu 0.3s 1.8s forwards;
      }
      .recipes__choice:nth-child(2) {
        opacity: 0;
        animation: appear_elementsmenu 0.3s 2.1s forwards;
      }
      .recipes__choice:last-child {
        opacity: 0;
        animation: appear_elementsmenu 0.3s 2.4s forwards;
      } */
    }

    .recipes:last-child {
      opacity: 0;
      animation: slider_menu 0.5s 1s forwards;
      /*       .recipes__choice:first-child {
        opacity: 0;
        animation: appear_elementsmenu 0.3s 2.7s forwards;
      }
      .recipes__choice:nth-child(1) {
        opacity: 0;
        animation: appear_elementsmenu 0.3s 3s forwards;
      }
      .recipes__choice:nth-child(2) {
        opacity: 0;
        animation: appear_elementsmenu 0.3s 3.3s forwards;
      }
      .recipes__choice:last-child {
        opacity: 0;
        animation: appear_elementsmenu 0.3s 3.6s forwards;
      } */
    }
  }

  .recipes {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 30px 0;

    @media (min-width: 768px) and (max-width: 1024px) {
      width: 32%;
      margin: auto;
    }
  }

  h2 {
    font-family: $txt-main;
    @include thin;
    text-transform: uppercase;
    margin: 0;

  }

  .recipes__stylebar {
    width: 40px;
    height: 3px;
    background-color: $nouveau;
  }

  //  ***   MEDIA QUERIES DESKTOP    ***   MEDIA QUERIES DESKTOP  ***
  @media (min-width: 1025px) {
    width: 80%;
    max-width: 1220px;
    align-self: center;
    padding-left: 15%;
    padding-right: 15%;
    margin: 0;
  }

  //  ***   MEDIA QUERIES TABLETTE    ***   MEDIA QUERIES TABLETTE  ***
  @media (min-width: 768px) and (max-width: 1024px) {
    align-self: center;
    padding-left: 3%;
    padding-right: 3%;
    margin: 0;

    .menu__container {
      @include row;
      width: 100%;
      box-sizing: border-box;
      gap: 2%;
      font-size: 0.9em;
    }

  }


.recipes__choice {
  @include boxbasic;
  @include card;
  @include ombrage-medium;
  height: 70px;
  overflow: hidden;
  transition: all ease-in-out 0.3s;

  .recipes__choice--extend {
    @include card;
    width: 120%;
    height: 70px;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 70% 15% 15%;
    align-items: center;
    transition: width 0.3s ease-in-out;


    .recipes__text {
      @include column;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      padding-left: 15px;
      gap: 5px;

      h3,
      p {
        margin: 0;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }

    .recipes__price {
      padding: 0 0px 15px 0;
      text-align: center;
      align-self: flex-end;
    }

    .recipes__selected {
      height: 70px;
      background-color: $third-color;
      border-radius: 0 15px 15px 0;
      text-align: center;

      .fa-solid {
        color: $white;
        line-height: 70px;
      }
    }

    &:hover {
      width: 101%;
    }
  }

  &:hover {
    @include ombrage-dark;
    transition: ease-in-out 0.3s;
  }
}}