@mixin boxbasic{
    width: 100%;
    box-sizing: border-box;
}

@mixin column{
    display: flex;
    flex-direction: column;
}

@mixin row{
    display: flex;
    flex-direction: row;
}

@mixin transparent{
    border: none;
    background-color: transparent;
}

@mixin photo{
    width: 100%;
    max-height: 275px;
    overflow: hidden;
}

@mixin card{
    background-color: $white;
    border-radius: 15px;
}

@mixin button--fantasy{
    background: $gradient;
    color: #ffffff;
    height: 50px;
    width: fit-content;
    font-size: 16px;
    padding: 0 25px ;
    border: none;
    border-radius: 25px;
    align-self: center;
}

@mixin ombrage-medium{
    box-shadow: 0px 4px 15px 0px #0000001A;
}

@mixin txt__main{
    font-family: $txt-main;
    font-weight: 500;
}

@mixin txt__fantasy{
    font-family: $txt-fantasy;
    font-weight: 500;
}

@mixin medium{
    font-size: 1.2em;
}

@mixin tall{
    font-size: 1.4em;
}

@mixin thin{
    font-weight: 300;
}

@mixin fat{
    font-weight: 700;
}