.lapalettedugout{
    background-image: url("../assets/images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
    @include photo-card;
}

.lanoteenchantee{
    background-image: url("../assets/images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg");
    @include photo-card;
}

.alafrancaise{
    background-image: url("../assets/images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg");
    @include photo-card;
}

.ledelicedessens{
    background-image: url("../assets/images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg");
    @include photo-card;
}


.restaurant-card{
    width: 100%;
    height: 250px;
    box-sizing: border-box;
    background-color: $white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    justify-content: space-between;
    

//    .card-img{
//        display: flex;
//        flex-direction: row;
//        width: 100%;
//        box-sizing: border-box;
//        background-image: url("../assets/images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
//        background-size: cover;
//        background-position: center;
//        height: 170px;
//        overflow: hidden;
//        position: relative;
//    }

    .card-content{
        height: 70px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 10px;
        gap: 10px;
            h3{
                @include medium;
                @include fat;
                color: $black;
                margin: 0;
            }
            p{
                @include txt__main;
                @include small;
                @include thin;
                color: $black;
                text-align: start;
            }
// pour le coeur voir page button
    }
}