

.restaurant__card{
    @include boxbasic;
    @include column;
    @include card;
    height: 250px;
    overflow: hidden;
    justify-content: space-between;

    .restaurant__photo{
        @include photo;
        @include row;
        img{
            width: 100%;
            height: fit-content;
            align-self: center;
        }
    }

    .restaurant__card-content{
        @include row;
        height: 70px;        
        justify-content: space-between;
        padding: 10px;
        gap: 10px;

            h3{
                @include medium;
                @include fat;
                color: $black;
                margin: 0;
            }
            
            p{
                @include txt__main;
                @include thin;
                color: $black;
                text-align: start;
            }
// pour le coeur voir page button
    }
}