body {
    @include txt__main;
    margin: 0;
}

.fa-solid{
    @include tall;
    padding: 0 10px 0 0;
    color: $dark-grey;
  }

.main-container{
    @include boxbasic;
    @include column;
    margin: 0;
    text-align: center;
}



.section-bgd{
    @include boxbasic;
    @include column;
    background-color: $light-grey;
    margin: 0;    
    height: auto;
}

section{
    @include boxbasic;
    padding: 15px;
}

.restaurant-list{
    @include boxbasic;
    @include column;
    gap: 18px;
}

h1{
    @include tall;
    @include fat;
}

p{
    @include medium;
    @include thin;
}

a{
    text-decoration: none;
}

    //  ***   MEDIA QUERIES DESKTOP    ***   MEDIA QUERIES DESKTOP  ***
@media (min-width : 1024px) {
    section{
        padding: 50px 80px;
    }

    .howto{
        @include boxbasic;
        @include row;
        justify-content: space-between;
    }

    .restaurant-list{
        @include row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 50px;

        a{
            width: 45%;
        }
    }

    //  ***   MEDIA QUERIES TABLETTE    ***   MEDIA QUERIES TABLETTE  ***
    @media (min-width : 768px) and (max-width: 1024px) {

    }

}