body {
    font-family: 'roboto', sans-serif;
    font-size: 16px;
    font-weight: 500;
    margin: 0;
}

.fa-solid{
    padding: 0 10px 0 0;
    font-size: 25px;
    color: $dark-grey;
  }

.main-container{
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    margin: 0;
    text-align: center;
}



.section-bgd{
    background-color: $light-grey;
    margin: 0;

}

section{
    padding: 35px 0 45px 0;
}

h1{
    font-size: 24px;
    font-weight: 700;
}


p{
    font-size: 18px;
    font-weight: 300;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
    padding: 0;
}

li{
    list-style-type: none;
    padding-bottom: 3px;
}

.intro{
    display: flex;
    flex-direction: column;
}