$first-color: #9356dc;
$second-color: #ff79da;
$third-color: #99e2d0;
$dark-grey: #353535;
$middle-grey: #eaeaea;
$light-grey: #f6f6f6;
$white: #ffffff;
$black: #000000;
$nouveau: #008766;

$txt-main: Roboto;
$txt-fantasy: Shrikhand;
$gradient: linear-gradient(to top, $first-color, $second-color);
$gradientreverse: linear-gradient(to bottom, $first-color, $second-color);
